
body {
	background: url("imagebg1.jpg") center;
	background-size: cover;
}


#canvas
{
    border: 1px solid black;
    margin: 10px 0 10px 0;
    cursor: pointer;
}
#colors button
{
    width: 40px;
	height: 40px;
	border-radius: 15%;
	margin-top: 0px;
	
}
#black 
{
    background: black;
}
#purple 
{
    background: purple;
}
#red
{
    background: red;
}
#green 
{ 
    background: green;
}
#blue 
{
    background: blue;
}
#orange 
{
    background: orange;
}
#white 
{
    background: white;
}
#aqua 	
{
    background: aqua;
}
#grey 
{
    background: grey;
}
#yellow 
{
    background: yellow;
}

input[type="number"]{
    width: 40px;
    margin-left: 50px;
}
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	width: 100%;       /*на 100% ширины*/
	height: 100vh;     /*на всю высоту экрана пользователя*/
	
	background:              
	url("imagebg1.jpg") center;  /*фоновая картинка*/
	background-size: cover;
}





